* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  width: 100%;
  background-image: url(./imagens/banner.png);
  background-position: center;
  height: 100%;
  object-fit: cover;
}


h1 {
  margin: 10px auto;
  font-family: monospace;
  color: green;
  transition: ease-in 3s;
}

/* Classes */
.container {
  display: flex;
  flex-direction: column;
  width: 60%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  flex-wrap: wrap;
}

.image-container {
  display: flex;
  flex-direction: column;
  overflow:hidden;
  text-align: center;
  margin-left: 5px; /*define o espaçamento entre as imagens*/
  }


.image-container p {
  color: black;
  font-size: 16px;
  margin: 10px 0px 5px;
  font-weight:normal;
}


.image-container img {
  display: block;
  width: 100%;
  margin: auto;
  cursor: pointer;
}

.size-buttons ul {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin: 2px 0px 5px 0px;
  text-align: center;
}

.size-buttons li {
  display: flex;
  list-style: none;
  
}

a {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

a button {
  padding: 4px;
  font-size: 18px;
  background-color: red;
  color: white;
  margin-bottom: 10px;
  cursor: pointer;
}

.price-button p {
  margin: 2px 0px 5px 0px;
  font-size: 16px;
  align-items: center;
  font-weight:bolder;
  
}

.price-button button:hover {
  background-color: green;
}

.size-buttons button{
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
  color: black;
  margin-left: 5px;
  font-size: 15px;
  cursor: pointer;
}

.size-buttons li.button {
  padding: 3px;
  border: 1px solid gray;
}

.size-buttons button:hover{
  background-color: green;
  color:white;
}

footer {
  margin-top: 30px;
  text-align: center;
}

@media only screen and (max-width: 992px) {
  /* Alterações para telas menores */
  img {
    width: 100%; /* imagem ocupando 100% da largura */
  }
}
